@using Blazor.Diagrams.Components.Renderers;
@using ecocraft.Diagram;
@using ecocraft.Services
@inject LocalizationService LocalizationService

<div class="d-flex justify-center align-center">
    <div style="position: relative; z-index: 1; width: 10px; height: 10px; border-radius: 100px; background-color: black; margin-right: -5px; padding: 5px;">
        <PortRenderer @key="Node.Ports[0]" Port="@Node.Ports[0]"/>
    </div>
    <h5 style="position: relative; z-index: 2; " class="eco-node recipe-node-title">@LocalizationService.GetTranslation(Node.Recipe)</h5>
    <div style="position: relative; z-index: 1; width: 10px; height: 10px; border-radius: 100px; background-color: black; margin-left: -5px; padding: 5px;">
        <PortRenderer @key="Node.Ports[1]" Port="@Node.Ports[1]"/>
    </div>
</div>

@code {
    // This gets filled by the library
    [Parameter] public RecipeNode Node { get; set; } = null!;
}